**/target
**/metastore_db

.metals
# trash
*.log
*.jar
*.zip
*.java
.idea*
*.iml
# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

./docker-compose.yml
/data03
.Keka-A9970342-D0B8-4C13-8BE3-3269FD261C1F/

/target
/project/target
/project/project/target
*.class
*.iml
*.ipr
*.iws
/.idea
out
/metastore_db
